<h2>プロフィール編集</h2>
<%= form_with model:@admin, local:true do |f| %>
    <p><%= attachment_image_tag @admin, :profile_image, :fill, 60, 60, fallback: "no_image.jpg"%></p>
    <p><label for="inputImage">プロフィール画像（ジムを代表する画像）</label></p>
    <p><%= f.attachment_field :profile_image, placeholder: "プロフィール画像" %></p>

    <p><label for="inputGym">ジムの名称</label></p>
    <p><%= f.text_field :gym, placeholder:"ジム名"%></p>

    <p><label for="inputURL">ジム公式サイトのURL</label></p>
    <p><%= f.text_field :url, placeholder:"url"%></p>

    <p><label for="inputBio">紹介文</label></p>
    <p><%= f.text_field :bio, placeholder:"bio"%></p>

    <p><%= f.submit "変更を保存",data: { disable_with: '送信中...' } %></p>
<% end %>