<h2>プロフィール編集</h2>
<%= form_with model:@admin, local:true do |f| %>
    <p><%= attachment_image_tag @admin, :profile_image, :fill, 60, 60, fallback: "no_image.jpg"%></p>
    <p><label for="inputImage">ProfileImage</label></p>
    <p><%= f.attachment_field :profile_image, placeholder: "プロフィール画像" %></p>
    <p><%= f.text_field :gym, placeholder:"ジム"%></p>
    <p><%= f.text_field :url, placeholder:"url"%></p>
    <p><%= f.text_field :bio, placeholder:"bio"%></p>
    <p><%= f.submit "変更を保存",data: { disable_with: '送信中...' } %></p>
<% end %>