<div class="center jumbotron">
<h2>プロフィール編集</h2>

<%= form_with model:@admin, local:true do |f| %>
    <%= attachment_image_tag @admin, :profile_image, :fill, 60, 60, fallback: "no_image.jpg"%>

    <div class="field">
    <%= f.label :profile_image, "プロフィール画像" %><br />
    <%= f.attachment_field :profile_image, placeholder: "プロフィール画像" %>
    </div>

    <div class="field">
    <%= f.label :gym, "ジム名称" %><br />
    <%= f.text_field :gym, placeholder:"ジム名"%>
    </div>

    <div class="field">
    <%= f.label :url, "公式サイトURL" %><br />
    <%= f.text_field :url, placeholder:"url"%>
    </div>

    <div class="field">
    <%= f.label :bio, "自己紹介" %><br />
    <%= f.text_field :bio, placeholder:"bio" %>
    </div>

    <div class="actions">
    <%= f.submit "変更を保存", data: { disable_with: '送信中...' } %>
    </div>
<% end %>
</div>