<h1>Admins#show</h1>
<p>Find me in app/views/admins/show.html.erb</p>


<% if admin_signed_in? %>
    <% if @admin.id == current_admin.id %>
        <p><%= link_to "プロフィール編集", edit_admin_path(@admin) %></p>
    <% end %>
<% elsif user_signed_in? %>
followして
<% end %>


<p> <%= attachment_image_tag @admin, :profile_image, :fill, 60, 60, fallback: "no_image.jpg"%> </p>

<p> <%= @admin.gym %> </p>
<p> <%= @admin.url %> </p>
<p> <%= @admin.bio %> </p>

<% @post_images.each do |post_image| %>
    <%= link_to post_image_path(post_image.id) do %>
        <%= render 'post_images/list', post_image: post_image %>
    <% end %>
<% end %>