<h1>ジム関係者 マイページ</h1>

<p> <%= attachment_image_tag @admin, :profile_image, :fill, 200, 200, fallback: "no_image.jpg"%> </p>
<p>ジム名称：<%= @admin.gym %> </p>
<p>ジム公式サイト：<%= @admin.url %> </p>
<p>紹介文：<%= @admin.bio %> </p>

<% if admin_signed_in? %>
    <% if @admin.id == current_admin.id %>
        <p><%= link_to "プロフィール編集", edit_admin_path(@admin) %></p>
    <% end %>
<% elsif user_signed_in? %>
    <div id="follow_btn_<%= @admin.id %>">
        <%= render 'relationships/follow', admin: @admin %>
    </div>
<% end %>

投稿した課題
<div class="scroll-list jscroll">
    <% @post_images.each do |post_image| %>
        <%= link_to post_image_path(post_image.id) do %>
            <%= render 'post_images/list', post_image: post_image %>
        <% end %>
    <% end %>
    <%= paginate @post_images %>
</div>