<h2>プロフィール編集</h2>

<%= form_with model:@user, local:true do |f| %>
    <p><%= attachment_image_tag @user, :profile_image, :fill, 60, 60, fallback: "no_image.jpg"%></p>
    <p><label for="inputImage">プロフィール画像</label></p>
    <p><%= f.attachment_field :profile_image, placeholder: "プロフィール画像" %></p>

    <p><label for="inputName">ユーザーネーム</label></p>
    <p><%= f.text_field :name, autofocus: true, id:"inputName", placeholder:"名前"%></p>

    <p><label for="inputBio">自己紹介</label></p>
    <p><%= f.text_area :bio, :size=>"60x5", placeholder:"自己紹介"%></p>

    <p><%= f.submit "変更を保存",data: { disable_with: '送信中...' } %></p>
<% end %>
