<h1><%= @user.name %></h1>

<div class="row">
    <div class="col-4">
        <div class="sidebar-fixed">
            <div class="profile-image">
                <%= attachment_image_tag @user, :profile_image, class: "img-thumbnail", fallback: "no_image.jpg" %>
            </div>
            <% if @user.id == current_user.id %>
                <p><%= link_to "プロフィール編集", edit_user_path(@user) %></p>
            <% end %>
            <p><%= @user.bio %> </p>
        </div>
    </div>

    <div class="col">
        <h2>いいねした課題一覧</h2>
        <div class="card-list py-3">
            <div class="scroll-list jscroll">
            <% @post_images.each do |post_image| %>
                <div class="card my-2 shadow-lg">
                    <%= attachment_image_tag post_image, :preview_image, class:"card-img-top" %>
                    <%= render 'post_images/list', post_image: post_image %>
                </div>
            <% end %>
            <%= paginate @post_images%>
            </div>
        </div>
    </div>
</div>

