<h1>マイページ</h1>

<p> <%= attachment_image_tag @user, :profile_image, :fill, 60, 60, fallback: "no_image.jpg"%> </p>
<p>ユーザーネーム：<%= @user.name %> </p>
<p>自己紹介：<%= @user.bio %> </p>

<% if @user.id == current_user.id %>
    <p><%= link_to "プロフィール編集", edit_user_path(@user) %></p>
<% end %>


<h2>いいねした課題一覧</h2>
<div class="scroll-list jscroll">
    <% @favorite_post_images.each do |post_image| %>
        <div class="card w-50 mx-auto mt-4 shadow-lg">
            <%= attachment_image_tag post_image, :image, class:"card-img-top" %>
            <%= render 'post_images/list', post_image: post_image %>
        </div>
    <% end %>
</div>

