<% if user_signed_in? %>
    <h2>フォローしているジムの課題一覧</h2>
    <div class="card-list py-5">
        <div class="scroll-list jscroll">
            <% @post_images.each do |post_image| %>
                <div class="card my-3 shadow-lg">
                    <%= attachment_image_tag post_image, :image, class:"card-img-top" %>
                    <%= render 'post_images/list', post_image: post_image %>
                </div>
            <% end %>
            <%= paginate @post_images %>
        </div>
    </div>

<% elsif admin_signed_in? %>
    <div class="center jumbotron">
        <h5>課題を見てみましょう！</h5>
        <p>
            <%= link_to "課題一覧", post_images_path,class: "btn btn-sm btn-primary" %>
        </p>
        <h5>ジムの課題を投稿してみましょう！</h5>
        <p>
        <%= link_to "課題投稿", new_post_image_path,class: "btn btn-sm btn-primary" %>
        </p>
    </div>
<% else %>
    <div class="center jumbotron">
    <div class="row">
        <div class="col-md-6">
        <h5>一般ユーザーの方はこちら</h5>
        <p>
            <%= link_to "新規登録", new_user_registration_path,class: "btn btn-sm btn-primary" %>
        </p>
        <p>
            <%= link_to "ログイン", new_user_session_path,class: "btn btn-sm btn-primary" %>
        </p>

        </div>
        <div class="col-md-6">
        <h5>ジム関係者の方はこちら</h5>

        <p>
            <%= link_to "ジム関係者新規登録", new_admin_registration_path,class: "btn btn-sm btn-secondary" %>
        </p>
        <p>
            <%= link_to "ジム関係者ログイン", new_admin_session_path,class: "btn btn-sm btn-secondary" %>
        </p>
        <small>※アカウント作成は１店舗１つまででお願いします。</small>
        </div>
    </div>
    </div>

<% end %>


