<%= link_to post_image_path(post_image.id) do %>
        <div class="card-body">
            <table class="table">
                <tr><th>難易度</th> <th><%= grade_hash[post_image.grade] %></tr>
                <tr><th>ホールドの色</th> <th><%= post_image.color %></th></tr>
                <tr><th>壁の種類</th> <th><%= wall_type_hash[post_image.wall_type] %></th></tr>
                <tr><th>説明</th> <th><%= post_image.caption %></th></tr>
                <tr><th>課題の期間</th> <th><%= post_image.duration %>まで<th></tr>
                <tr><th>コメント数</th> <th><%=post_image.post_comments.count %><th></tr>
                <tr><th>いいね数</th> <th><%= post_image.favorites.count %><th></tr>
            </table>
        </div>
<% end %>
<h3>@<%= link_to post_image.admin.gym, post_image.admin %></h3>

