<div>
    <%= attachment_image_tag post_image, :image, :fill, 400, 400 %>
    <p>難易度：<%= grade_hash[post_image.grade] %></p>
    <p>色：<%= post_image.color %></p>
    <p>壁の種類：<%= wall_type_hash[post_image.wall_type] %></p>
    <p>説明：<%= post_image.caption %></p>
    <p>課題の期間：<%= post_image.duration %>まで</p>
    <p>コメント数：<%=post_image.post_comments.count %></p>
    <p>いいね数：<%= post_image.favorites.count %></p>
</div>
