<div class="card w-50 mx-auto mt-4 shadow-lg">
    <%= link_to post_image_path(post_image.id) do %>
    <%= attachment_image_tag post_image, :image, class:"card-img-top" %>
        <div class="card-body">
            <table class="table">
                <tr><th>難易度</th> <th><%= grade_hash[post_image.grade] %></tr>
                <tr><th>ホールドの色</th> <th><%= post_image.color %></th></tr>
                <tr><th>壁の種類</th> <th><%= wall_type_hash[post_image.wall_type] %></th></tr>
                <tr><th>説明</th> <th><%= post_image.caption %></th></tr>
                <tr><th>課題の期間</th> <th><%= post_image.duration %>まで<th></tr>
                <tr><th>コメント数</th> <th><%=post_image.post_comments.count %><th></tr>
                <tr><th>いいね数</th> <th><%= post_image.favorites.count %><th></tr>
            </table>
        </div>
    <% end %>
    <p>@<%= link_to post_image.admin.gym, post_image.admin %></p>
</div>
