<% @post_images.each do |post_image| %>
    <div>
        <%= link_to post_image_path(post_image.id) do %>
            <%= attachment_image_tag post_image, :image %>
            <p>難易度：<%= post_image.grade %></p>
            <p>色：<%= post_image.color %></p>
            <p>壁：<%= post_image.wall_type %></p>
            <p>説明：<%= post_image.caption %></p>
            <p>コメント数：<%=post_image.post_comments.count %></p>
        <% end %>
    </div>
<% end %>