<% if admin_signed_in? %>
    <%= link_to "課題投稿", new_post_image_path %>
<% end %>

<div class="scroll-list jscroll">
    <% @post_images.each do |post_image| %>
        <%= link_to post_image_path(post_image.id) do %>
            <%= render 'post_images/list', post_image: post_image %>
        <% end %>
        <h5>@<%= link_to post_image.admin.gym, post_image.admin %></h5>
    <% end %>
    <%= paginate @post_images %>
</div>
