<% if @post_image.errors.any? %>
  <%= @post_image.errors.count %>件のエラーが発生しました
  <% @post_image.errors.full_messages.each do |message| %>
    <%= message %>
  <% end %>
<% end %>

<div class="row justify-content-center mt-2 mb-2">
  <h1>課題投稿</h1>
</div>
<div class="row justify-content-center mb-5">
  <%= form_with model: @post_image, local:true do |f| %>
    <table class="table">
      <tr>
        <th>画像</th>
        <td><%= f.attachment_field :image %></td>
      </tr>
      <tr>
        <th>難易度</th>
        <td><%= f.select :grade, grade_hash.invert, include_blank: '選択' %></td>
      </tr>
      <tr>
        <th>ホールドの色</th>
        <td><%= f.text_field :color %></td>
      </tr>
      <tr>
        <th>壁の種類</th>
        <td><%= f.select :wall_type, wall_type_hash.invert, include_blank: "選択" %></td>
      </tr>
      <tr>
        <th>説明</th>
        <td><%= f.text_area :caption %></td>
      </tr>
      <tr>
        <th>課題掲載期間</th>
        <td><%= f.date_select :duration %></td>
      </tr>
    </table>
    <div class="center"><%= f.submit '投稿', class: "btn btn-primary btn-lg" %></div>
  <% end %>
</div>
