<div class="row">
    <%= attachment_image_tag @post_image, :image, class:"card-img-top" %>
    <div class="col-md-8">
        <div class="card mx-auto mt-4 shadow-lg">
            <%= render 'post_images/list', post_image: @post_image %>
        </div>
    </div>

    <div class="col-md-4">
        <% if user_signed_in? %>
            <div id="favorite_btn_<%= @post_image.id %>">
                <%= render 'favorites/favorite', post_image: @post_image %>
            </div>
            <div>
                <%= form_with(model:[@post_image, @post_comment], local: true) do |f| %>
                    <%= f.text_area :comment, rows:'5',placeholder: "コメントを書く" %><br>
                    <%= f.submit "送信する", class: 'btn btn-sm btn-primary', data: { disable_with: '送信中…' } %>
                <% end %>
            </div>
        <% elsif %>
            <p><%= @post_image.favorites.count %> いいね</p>
        <% end %>

        <div>
        <p><%= @post_image.post_comments.count %> コメント</p>
        <% @post_image.post_comments.reverse.each do |post_comment| %>
            <p><%= post_comment.user.name %></p>
            <p><%= post_comment.created_at.strftime('%Y/%m/%d') %></p>
            <p><%= post_comment.comment %></p>
            <% if post_comment.user == current_user %>
            <div>
                <%= link_to "削除", post_image_post_comment_path(post_comment.post_image, post_comment), method: :delete %>
            </div>
            <% end %>
        <% end %>
        </div>
    </div>
</div>