<!DOCTYPE html>
<html>
  <head>
    <title>App</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    
    <li>
      <%= link_to "トップ", root_path %>
    </li>
    <li>
      <%= link_to "課題一覧", post_images_path %>
    </li>

    <% if user_signed_in? %>
    ようこそ、ユーザーの<%= current_user.name %>さん
      <li>
        <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
      </li>
    <% elsif admin_signed_in? %>
    ようこそ、 アドミンの<%= current_admin.name %>さん
      <li>
        <%= link_to "ログアウト", destroy_admin_session_path, method: :delete %>
      </li>
    <% else %>
    ジム運営関係者の方はこちら
      <li>
        <%= link_to "登録はこちら", new_admin_registration_path %>
      </li>
      <li>
        <%= link_to "関係者ログイン", new_admin_session_path %>
      </li>
    <% end %>

    <%= yield %>
  </body>
</html>
